# More Python Basics
Prepared by Jen Nunnelley with influence from Nickolas Freeman, Ph.D. and Irem Sengul orgut, Ph.D.

<a id="Table_of_Contents"> </a>
The following table of contents lists the topics discussed in this notebook. Clicking on any topic will advance the notebook to the associated area.

## Table of Contents

1. Flow Control<br>
    a. [if Statements](#if_Statements)<br>
    b. [for Loops](#for_Loops)<br>
    c. [while Loops](#while_Loops)<br>
2. [Strings](#Strings)<br>
3. [Lists](#Lists)<br>

### Reminder
#### Comparison Operators
- the comparison operator `==` means *Equal to*
- the comparison operator `!=` means *Not equal to*
- the comparison operator `<` means *Less than*
- the comparison operator `>` means *Greater than*
- the comparison operator `<=` means *Less than or equal to*
- the comparison operator `>=` means *Greater than or equal to*

<a id="if_Statements"> </a>
## if Statments

We are trying to decide who is the oldest out of Henry, Nancy, and Halie. Henry is 53; Nancy is 58, and Halie is 28.  Write and if statment that will test these values out.

In [1]:
henry=53
nancy =58
halie=28

if henry>nancy and henry>halie:
    print("Henry is the oldest")
elif nancy>henry and nancy>halie:
    print("Nancy is the oldest")
elif halie>henry and halie>nancy:
    print("Halie is the oldest")
else:
    print("They are either the same age or something went wrong")

Nancy is the oldest

<b>If we want to be able to change their ages everytime the code is written we would use an input function.  
Let us change the code to reflect this. <b>

In [2]:
henry=input("Enter Henry's age ")
nancy =input("Enter Nancy's age ")
halie=input("Enter Halie's age ")

if henry>nancy and henry>halie:
    print("Henry is the oldest")
elif nancy>henry and nancy>halie:
    print("Nancy is the oldest")
elif halie>henry and halie>nancy:
    print("Halie is the oldest")
else:
    print("They are either the same age or something went wrong")

Enter Henry's age 1
Enter Nancy's age 2
Enter Halie's age 3
Halie is the oldest

<a id="Flow Control"> </a>
<a id="for_Loops"> </a>
## for Loops

The first loop type that we discuss is the *for* loop. A `for` loop is used whenever we want to perform a portion of code for a fixed number of times. 

<b>Write some code that will calculate the sum of the squared values for the integers ranging from 0 to 10<b>

In [3]:
for i in range(1,11):
    value=i**2
    print(i,value)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

<B>In the block below, create a for loop that will calculate the value of integers from 1 to 100 in increments of 5 that will sum up the values of the integer multiplied by two.  <b>

In [4]:
for i in range (0,101,5):
    value=i+(i*2)
    print("this is the value of value", value)

this is the value of value 0
this is the value of value 15
this is the value of value 30
this is the value of value 45
this is the value of value 60
this is the value of value 75
this is the value of value 90
this is the value of value 105
this is the value of value 120
this is the value of value 135
this is the value of value 150
this is the value of value 165
this is the value of value 180
this is the value of value 195
this is the value of value 210
this is the value of value 225
this is the value of value 240
this is the value of value 255
this is the value of value 270
this is the value of value 285
this is the value of value 300

<a id="while_Loops"> </a>
### *while* Loops

A *while* loop is used whenever we want to repeat a calculation until a condition is met. 

<div class="alert alert-block alert-info">
    <b>The <i>+=</i> and <i>-=</i> operators:</b> The <i>+=</i> and <i>-=</i> operators are shorthand operators that are used to increase and decrease the values of a variable by a value. For example, the code <i>my_var += 5</> is equivalent to <i>my_var = my_var + 5</i>. 
</div>

<b>Write a piece of code that will print all numbers with a squared value that is less than 200.<b>

In [5]:
my_var = 0

while (my_var ** 2 < 200):
    print(my_var,'squared is less than 500.')
    my_var =my_var+ 2

0 squared is less than 500.
2 squared is less than 500.
4 squared is less than 500.
6 squared is less than 500.
8 squared is less than 500.
10 squared is less than 500.
12 squared is less than 500.
14 squared is less than 500.

<a id="Strings"> </a>
### Strings

Besides numbers, Python can also manipulate strings, which can be expressed in several ways.  They can be encclosed in single quotes ('...') or double quotes ("...").  

<b>Create a variable of your  full name called Name.  Then create a piece of code that will return the first character of your name. <b>

In [6]:
Name="Jennifer Nunnelley"
Name[0]

'J'

<B>Using the same variable declared above of Name, return your first name.

In [7]:
Name[0:8]

'Jennifer'

<b>Using the same variable delcared above of Name, return the last character in your last name.

In [8]:
Name[-1]

'y'

<b>Using the same variable declared above of Name, return how many characters are in the text string.<b>

In [9]:
len(Name)

18

<a id="Lists"> </a>
### Lists

Python knows a number of compoud data types, used to group together other values.  The most versatile is the list, which can be written as a list of comma-separated values between square brackets.  Lists might contain items of different types, but usually the items all have the same type.  

<b>Create a list called squares that will show the squared values of 1, 2, 3, 4 and 5.<b>

In [21]:
squares=[1,4,9,16,25]
print(squares)

[1, 4, 9, 16, 25]

<b>Include 6^2 to the variable squares.

In [22]:
squares.append(6**2)
print(squares)

[1, 4, 9, 16, 25, 36]

<b>Remove 1^2 from the squares variable<b>

In [24]:
squares.remove(1)
print(squares)

[4, 9, 16, 25, 36]

<b>Create a new list that will be the names of Alabama's Football Opponents to date. <b>

In [33]:
Opponents=['Duke','NM State','South Carolina','Southern Miss','Ole Miss','Texas A&M','Tennessee','Arkansas','LSU']
print(Opponents)

['Duke', 'NM State', 'South Carolina', 'Southern Miss', 'Ole Miss', 'Texas A&M', 'Tennessee', 'Arkansas', 'LSU']

<b>Create a piece of code that will show you which game was the 4th game in the season. <b>

In [36]:
Opponents[4]

'Ole Miss'