# More Introduction to Pandas

# Table of Contents
<a id="Table_of_Contents"> </a>

1. [Pandas](#pandas)<br>
   1.1 [Grouping and Aggregating Data](#Grouping_and_Aggregation_with_Pandas)<br>
    1.2 [Pivot Tables](#Pivot_Tables)<br>
    1.3 [Combining Datasets](#Combining_Datasets)<br>
    
<b>Import the pandas library as pd<b>

In [2]:
import pandas as pd

## Grouping and Aggregating Data
<a id="Grouping_and_Aggregation_with_Pandas"> </a>

In this section, we will look at how to use the `groupby` Pandas method to aggregate data that resides in a Pandas DataFrame object. Essentially, the `groupby` method allows us to define a subset of the columns in a DataFrame to aggregate on. We can then use defined and user-specifed functions to compute aggregate statistics for the aggregated data. The following table, modified from that found at https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html, describes some of the defined aggregations.

<table>
<thead><tr>
<th>Aggregation</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>count()</code></td>
<td>Total number of items</td>
</tr>
<tr>
<td><code>first()</code>, <code>last()</code></td>
<td>First and last item</td>
</tr>
<tr>
<td><code>mean()</code>, <code>median()</code></td>
<td>Mean and median</td>
</tr>
<tr>
<td><code>min()</code>, <code>max()</code></td>
<td>Minimum and maximum</td>
</tr>
<tr>
<td><code>std()</code>, <code>var()</code></td>
<td>Standard deviation and variance</td>
</tr>
<tr>
<td><code>mad()</code></td>
<td>Mean absolute deviation</td>
</tr>
<tr>
<td><code>prod()</code></td>
<td>Product of all items</td>
</tr>
<tr>
<td><code>sum()</code></td>
<td>Sum of all items</td>
</tr>
<tr>
<td><code>unique()</code></td>
<td>Unique values</td>
</tr>
<tr>
<td><code>nunique()</code></td>
<td>Number of unique values</td>
</tr>
</tbody>
</table>

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Create the same sales_data DataFrame we created last class based on the 4 variables below.<b>

In [3]:
stores_list = ['W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 
               'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 
               'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 
               'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 
               'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 
               'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2']

dates_list = ['12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', 
              '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', 
              '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', 
              '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', 
              '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', 
              '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', 
              '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', 
              '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', 
              '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', 
              '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016']

product_list = ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 
                'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 
                'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 
                'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 
                'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 
                'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B']

sales_list = [1957, 1968, 1983, 2001, 1894, 1850, 2045, 1860, 1784, 1856, 
              1891, 1822, 1846, 1903, 1924, 1897, 1890, 1858, 1871, 1880, 
              1858, 1909, 1977, 1717, 1751, 1797, 1804, 1845, 1895, 1713, 
              1904, 1812, 1733, 1868, 1872, 1909, 2034, 1856, 1813, 1806, 
              1862, 1800, 1840, 1882, 1819, 1854, 1716, 1845, 1877, 1879, 
              1696, 1783, 1799, 1852, 1793, 1877, 1687, 1824, 1839, 1889]


#Insert new code here! 
sales_dictionary = {'Store': stores_list,
                    'Product': product_list,
                    'Sales': sales_list,
                    'Year': dates_list}

sales_data = pd.DataFrame.from_dict(sales_dictionary)

sales_data.head(10)

  Store Product  Sales        Year
0    W1       A   1957  12/31/2007
1    W1       A   1968  12/31/2008
2    W1       A   1983  12/31/2009
3    W1       A   2001  12/31/2010
4    W1       A   1894  12/31/2011
5    W1       A   1850  12/31/2012
6    W1       A   2045  12/31/2013
7    W1       A   1860  12/31/2014
8    W1       A   1784  12/31/2015
9    W1       A   1856  12/31/2016

<b>Create a way to show the summary statistics of the sales_data variable<b>

In [ ]:
sales_data.describe()

<b>Create a way to show information on the sales_data variable<b>

In [ ]:
sales_data.info()

<b>Sort the sales_data variable from least to greatest by the Sales<b>

In [ ]:
sales_data.sort_values(by=["Sales"])

<b>Create a way to sort the sales from greatest to least in the sales_data variable<b>

In [ ]:
sales_data.sort_values(by=["Sales"],ascending=False)

<b> Create way that will compute the total sales for each of the stores included in the DataFrame<B>

In [ ]:
sales_data.groupby(["Store"])["Sales"].sum()

If a single column is specified for grouping, any aggregations are returned as a `Series` object. Thus, we can access the values using the indexing and selection methods for `Series` objects. 

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Create a way to get the total sales for store *E1*.<b>

In [ ]:
sales_data.groupby(["Store"])["Sales"].sum()["E1"]

If more than one column is specified for grouping, aggregated data is again returned as a `Series` object. However, this object will utilize a *multi-level* index as shown below.

<b>Create a way to show the total sales by store and year<b>

In [ ]:
sales_data.groupby(["Store","Year"])["Sales"].sum()

<b>Create a way to show the average sales by store and product<b>

In [ ]:
sales_data.groupby(["Store","Product"])["Sales"].mean()

<b>Create a way to access the total sales for the E1 store during 2007.  <b>

In [7]:
sales_data.groupby(["Store","Year"])["Sales"].sum()["E1"]["12/31/2007"]

3762

Essentially, when multiple columns are grouped on, the resulting aggregations can be accessed in a manner that is similar to a multi-level dictionary. If we would like the object returned to resemble a DataFrame instead, we can set the optional `as_index` argument to `False`. This is demonstrated below. 

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Create a data frame object that will show the total sales for each store each year<B>

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].sum()

In addition to grouping on several columns, we can also perform several aggregations using the `agg` method. The following code block shows an example where we group the `sales_data` object by *Store* and *Year*, and then determine the *mean*, *total*, and *maximum* sales for each grouping. 

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Create a way to show each store and year combination that will show the average, total, and maximum sales<b>

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].agg({'mean','sum','max'})

As you can see in the previous code block, even though we specified `as_index = False`, the returned object still utilizes a multi-level index. However, by *chaining* the expression with the `reset_index()` method, we can obtain a standard DataFrame object as shown below.

[Back to Table of Contents](#Table_of_Contents)<br>

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].agg({'mean','sum','max'}).reset_index()

We can also customize the column names as shown below.

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Using the code we just wrote above, create new titles for the aggregated columns of "Mean Sales", "Total Sales", and "Maximum Sales".<B>

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].agg({'Mean Sales':'mean',
                                                                     'Total Sales':'sum',
                                                                     'Maximum Sales':'max'}).reset_index()

## Pivot Tables
<a id="Pivot_Tables"> </a>

The previous section showed how the `groupby` functionality available in Pandas allows you to aggregate data that resides in a `DataFrame` object in a very flexible manner. However, many users are very familiar with the aggregation capabilities made available by Microsoft Excel's pivot table functionality. Noting this, the Pandas package comes with a builtin `pivot_table` method that attempts to replicate this functionality in a simple fashion.

The following code block shows how to use this function to compute the `mean` sales for each store, by year. 

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Create a way that will show the average sales by year (in the rows) and by store (in the columns) using a pivot_table method<b>

In [ ]:
pd.pivot_table(sales_data, values = 'Sales', columns = 'Store', index = 'Year', aggfunc = 'mean')

<b>Create a way that will show the total sales by year (in the rows) and by product (in the column) using a pivot_table method<b>

In [ ]:
pd.pivot_table(sales_data, values = 'Sales', columns = "Product", index = 'Year', aggfunc = 'sum')

## Combining Datasets
<a id="Combining_Datasets"> </a>

The final thing that we consider in this notebook is how to merge DataFrame objects. In particular, let's assume that we have another DataFrame object that includes information on each of the stores. The following code block creates such an object.

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Create a DataFrame from the following variables<b>

In [ ]:
stores_list = ['W1', 'E1', 'E2']

city_list = ['Birmingham', 'Atlanta', 'Savannah',]

state_list = ['Alabama', 'Georgia', 'Georgia']

#Insert how to create a DataFrame

my_dict = {'Store': stores_list,
           'City': city_list,
           'State': state_list}

store_info = pd.DataFrame.from_dict(my_dict)

store_info

Let's assume that we want the total sales by state. To calculate this quantity, we first need to group the data in the `sales_data` object by store. This grouping is performed in the following code block, and the resulting object is stored in a new object called `grouped_data`.

[Back to Table of Contents](#Table_of_Contents)<br>

<b>Create a variable called grouped_data that will sum up all of the sales by store. <b>

In [ ]:
grouped_data = sales_data.groupby('Store', as_index = False)['Sales'].sum()
grouped_data

We can now use Pandas `merge` method to merge the `grouped_data` object with the `store_info` object. Since they both have a column that is named *Store*, the method will merge on this common column. This is shown below.

[Back to Table of Contents](#Table_of_Contents)<br>

In [ ]:
grouped_data.merge(store_info)

We can now *chain* the `groupby` method to the end of the merged data to obtain the total sales by store as is shown in the following code block.

[Back to Table of Contents](#Table_of_Contents)<br>

In [ ]:
grouped_data.merge(store_info).groupby('State', as_index = False)['Sales'].sum()

**Note that we could have performed the merging and aggregation in a single, *chained* statement as follows.**

[Back to Table of Contents](#Table_of_Contents)<br>

In [ ]:
sales_data.groupby('Store', as_index = False)['Sales'].sum()\
.merge(store_info).groupby('State', as_index = False)['Sales'].sum()

The Pandas package includes additional capabilities for joining DataFrame objects. For more info, see https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html.

[Back to Table of Contents](#Table_of_Contents)<br>